# What you need to learn
- create strings
- indexing and slicing
- string methods
    - formatting methods
    - validation methods
    - utility methods
- python built-in functions for strings
    - len()
    - str()
    - ord()
    - chr()
    - eval()

In [1]:
x = "Education"
print(x)
print(x[0]) # first character
print(x[-1]) # last character
print(x[4]) # fifth character

Education
E
n
a

In [5]:
name = "Vijay Deenanath Chauhan"

In [6]:
name[0]+name[1]+name[2]+name[3]+name[4]

'Vijay'

In [7]:
name[0:5] # 0 to 4

'Vijay'

In [8]:
name[:5] # start to 4

'Vijay'

In [9]:
name[-7:] # -7 to end

'Chauhan'

In [11]:
name[16:] # 16 to end

'Chauhan'

In [20]:
price = 'Rs.35000 only'
print(int(price[3:-5]))
print(int(price[3:3+5]))

35000
35000

In [22]:
word = "William Shakespeare"

slicing syntax

`var[start:stop]`

`var[start:stop:step]`

In [26]:
word[:7:2] # start to 6 index, jump 2 index at a time

'Wlim'

In [27]:
word[::2] # start to end, jump 2 index at a time

'WlimSaepae'

In [28]:
# reverse a string
word[::-1]

'eraepsekahS mailliW'

In [29]:
name[::-1]

'nahuahC htananeeD yajiV'

In [30]:
name[:5:][::-1][:]

'yajiV'

In [34]:
# concatenation (+)
'hi' +' '+ 'there'

'hi there'

In [36]:
# duplication (*)
'üêà' * 5

'üêàüêàüêàüêàüêà'

In [3]:
x = 10
y = 25
operation = "x + y"
print(eval(operation))

35

In [5]:
op1 = input("enter the equation that you would like to use on x and y:")
eval(op1)

145