In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#with ()=>methods of class=>sum()
#without ()=>attributes of class=>shape

In [ ]:
dataset=pd.read_csv("Car Price.csv")

In [ ]:
#viewing top 5 rows of the dataset
dataset.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [ ]:
dataset.shape

(4340, 8)

In [ ]:
#getting the unique value names of any column
dataset["transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [ ]:
#getting the unique value names of any column along with count of each
dataset["transmission"].value_counts()

Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [ ]:
#getting some statistical values for each features
dataset.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [ ]:
#checking if there is any null value present in the dataset and if present then how many
dataset.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [ ]:
#values=>convert the datatype to numpy array so that further operations can be performed
x=dataset.iloc[:,[1,3,4,6]].values
y=dataset.iloc[:,2].values

In [ ]:
x

array([[2007, 70000, 'Petrol', 'Manual'],
       [2007, 50000, 'Petrol', 'Manual'],
       [2012, 100000, 'Diesel', 'Manual'],
       ...,
       [2009, 83000, 'Petrol', 'Manual'],
       [2016, 90000, 'Diesel', 'Manual'],
       [2016, 40000, 'Petrol', 'Manual']], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
#according to the array printed as x we only need to encode column 2 and 3 only 
#for both the columns we need to create different objects lb1 and lb2
lb1=LabelEncoder()
x[:,2]=lb1.fit_transform(x[:,2])
lb2=LabelEncoder()
x[:,3]=lb2.fit_transform(x[:,3])

In [ ]:
#split the dataset into training and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
accuracy=regressor.score(x_test,y_test)
accuracy

0.7579783473129759